on:
  push:
    branches:
      - main
      - feature-ecr-ecs
    
env:
  APPNAME: "ben-tech-challenge"
  DOCKER_REPO: "nichichi/btc-repo"
  PORT: 80

name: Deploy to AWS
  
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    
    steps:
    
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2
    
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: '0' # to get history for all branches and tags
    
    - name: Set vars
      id: vars
      run: echo "::set-output name=VERSION_TAG::$(git describe --tags --long)"
    
    - name: build
      env:
        DOCKER_USER:  ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD:  ${{ secrets.DOCKER_PASSWORD }}
      working-directory: ./app
      run: |
        docker login --username $DOCKER_USER --password $DOCKER_PASSWORD
        docker build -t $DOCKER_REPO:${GITHUB_SHA::7} . --build-arg SHA=${GITHUB_SHA::7} --build-arg APPNAME=$APPNAME --build-arg VERSION=${{ steps.vars.outputs.VERSION_TAG }} --build-arg PORT=$PORT
        docker push $DOCKER_REPO:${GITHUB_SHA::7}
        sed 's|{image}:|{image}:'"${GITHUB_SHA::7}"'|g' ../terraform/td-template.json > ../terraform/task_definition.json
        
    - name: Deploy Terraform
      run: make
      working-directory: ./terraform